@model nhsite700.Models.ContactModel
@{
    ViewBag.Title = "Contact";
}
<div class="well">
    <h2>@ViewBag.Title.</h2>
    <p>If you have any support questions, please contact us at <a href="mailto:student.nerdherd@gmail.com">student@nerdherd.com</a>, for any other inquires fill out the form below and we will contact you as soon as we can!</p>

    @using (Html.BeginForm("Index", "Contact", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", role = "form" }))
    {
        @Html.ValidationSummary()
        <fieldset>
            <div class="form-div-1">
                <label class="name">
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name *", @type = "text", @class = "form-control", @style = "width:250px;" })
                </label>
            </div>
            <div class="form-div-2">
                <label class="email">
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email Address *", @type = "email", @class = "form-control", @style = "width:250px;" })
                </label>
            </div>
            <div class="form-div-3">
                <label class="phone">
                    @Html.TextBoxFor(m => m.Subject, new { @placeholder = "Subject", @type = "text", @class = "form-control", @style = "width:250px;" })
                </label>
            </div>
            <div>
                <label class="message">
                    @Html.TextAreaFor(m => m.Comment, new { @placeholder = "Message *", @class = "form-control", @style = "width:400px;", @rows = "10" })
                </label>
            </div>
            <div class="button-wrapper">
                <input type="submit" value="Send" name="submit" class="button">
                <input type="reset" value="Reset" name="MFReset" class="button">
                <span>* Required Fields</span>
            </div>
        </fieldset>
    }
    <p>
        <asp:Label ID="DisplayMessage" Visible="false" />
    </p>
</div>
